.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  &__item {
    position: relative;
    width: 50%;
    cursor: pointer;
    overflow: hidden;
    &::before {
      content:'';
      display: block;
      padding-bottom: 100%;
    }

    &__background-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size:cover;
      background-position: 50% 50%;
    }

    &__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 0;
      object-fit: cover;
      min-height: 100%;
    }


    &:nth-child(n + 5) {
      display: none;
    }

    &--hidden {
      display: none !important;
    }

    &--block {
      display: block !important;
    }
  }
}


@media screen and (min-width:62.5em) {
  .gallery {
    &__item {
      width: 25%;
      &:nth-child(n + 5) {
        display: block;
      }
    }
  }
}
