<header class="header">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      <span role="img" aria-label="Enchanted Florist Logo"></span>
    </a>
    <input type="checkbox" id="menu-toggle" name="menu-toggle" class="header__checkbox"/>
    <label for="menu-toggle" class="header__trigger">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav class="header__menu">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#about">Gallery</a></li>
        <li><a href="#about">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
